<!DOCTYPE html>
<html>
    <head>
        <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <title>My To-Do App</title>
    </head>
    <body>
        <h1 style="text-align:center;">TO-DO Practice</h1>
        <p>these are what i want to do:</p>
        <ul>
            {% for todo in my_variable %}
                <li style="{% if todo['Complete'] == 1 %} color:limegreen; text-decoration: line-through; {%endif%}">
                    <i class="nes-icon trophy is-small"></i> | {{todo['description']}}
                </li>
            {% endfor %}
        <form action="/add" method="post">
            <textarea name="new_todo" class="nes-textarea">
            </textarea>
            <input type="submit" class="nes-btn">
        </form>
    </body>
</html>
