<!DOCTYPE html>
<html>
    <head>
        <title>My To-Do App</title>
    </head>
    <body style="background-color:darkblue; color:aqua">
        <h1>TO-DO Practice</h1>
        <p>these are what i want to do: {{my_variable}}</p>
        <ul>
            {% for todo in my_variable %}
                <li style="color:aqua; font-size:20px; font-style: italic; font-family:cursive; background-color:darkblue;">{{todo}}</li>

            {% endfor %}
        <form action="/add" method="post">
            <textarea name="new_todo">
            </textarea>
            <input type="submit">
        </form>
    </body>
</html>
